{# @TODO Remove if no Plupload issues #}
{% if S_IN_POSTING && S_PLUPLOAD_URL && SCHEDULE_POST_PLUPLOAD_DISABLED %}
	<link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" />
{% endif %}

{% if S_IN_POSTING && SCHEDULE_POST_ALLOWED %}
<style>
	.schedule-post-title-icon {
		width: 18px;
		vertical-align: -2px;
	}
	.schedule-post-clear-time {
		vertical-align: middle;
		opacity: 0.5;
		outline: none;
	}
	@supports (-moz-appearance:none) {
		.schedule-post-clear-time {
			display: none;
		}
	}
</style>
{% endif %}

{% if S_VIEWFORUM && scheduled_topics %}
<style>
	.scheduled-topics .lastpost {
		float: right;
	}
	.scheduled-topics .topics .lastpost {
		line-height: 2.2em;
	}
	.scheduled-topics .button-icon-only {
		float: right;
		margin-right: 6px;
	}
	.scheduled-topics .header .list-inner {
		margin-right: 0;
	}
	.scheduled-topics.alt-colors {
		background: linear-gradient(#cadceb, #a8c0d2);
	}
	.scheduled-topics.alt-colors li.header dt, .scheduled-topics.alt-colors li.header dd {
		color: inherit;
	}
	.scheduled-topics.alt-colors li.row {
		border-bottom-color: transparent;
	}
	.topic_scheduled {
		background-image: url("{SCHEDULE_POST_IMG_PATH}topic_scheduled.png");
	}
	.topic_scheduled_mine {
		background-image: url("{SCHEDULE_POST_IMG_PATH}topic_scheduled_mine.png");
	}
	.topic_scheduled_locked {
		background-image: url("{SCHEDULE_POST_IMG_PATH}topic_scheduled_locked.png");
	}
	.topic_scheduled_locked_mine {
		background-image: url("{SCHEDULE_POST_IMG_PATH}topic_scheduled_locked_mine.png");
	}
</style>
{% endif %}

{% if S_VIEWTOPIC && SCHEDULE_POST_VIEW %}
<style>
	.schedule-post-title-icon {
		width: 18px;
		vertical-align: -2px;
	}
	.schedule-post-title-label {
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: 11px;
		float: right;
		padding: 6px 0 0 4px;
	}
	.schedule-post-title-label img {
		width: 14px;
		vertical-align: -2px;
	}
	@media (min-width: 501px) {
		.action-bar.bar-top {
			clear: both;
		}
		.pagination {
			line-height: 2em;
		}
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		for (let b of document.querySelectorAll('.action-bar a.button'))
			b.onclick = () => { alert('{L_SCHEDULE_POST_REPLY_ALERT}'); return false; };
	});
</script>
{% endif %}
