fieldset {
	border-radius: 10px;
}

legend {
	background: inherit;
	margin: 2px 0px 0px -11px;
	border-top: inherit;
	border-left: inherit;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	top: 0;
}

.infobox {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 5px;
	background-color: #869c98;
	color: #115098;
	margin: 5px 0px;
	text-align: center;
}

.info_title {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.tablerow {
	display: table;
	border: 1px solid black;
	width: 100%;
	border-radius: 5px;
	margin: 10px auto;
}

.t_row {
	display: table-row;
}

.table_left {
	display: table-cell;
	width: 10%;
	background: #eeeeee;
	padding: 5px;
	border-right: 1px solid black;
	vertical-align: middle;
}

.table_right {
	display: table-cell;
	background: #dddddd;
	padding: 5px;
}
